[user]
	email = kadoshita.inct@gmail.com
	name = kadoshita
[alias]
	graph=log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cgreen%cn %Cred%d %Creset%s'
	logone=log --oneline
	st=status
	ch = checkout
	br = branch
	ad = add .
	co = commit
	pl = pull origin
	pu = push origin
